hr{border-style: none; background-color: white;
    height: 90px;} p{color: cadetblue;} 
     body {background-color:black;}
     h4 {color: red;} 
     span {color:white ;} div {height: 300px;}
     .music{position: relative; left: 150px;}
     img{position: relative; left: 15opx;} p {position: relative; left: 50px;}