hr{border-style: none; background-color: white;
    height: 90px;} p{color: cadetblue;} h1{color: chartreuse; position: relative; left: 300px;}
     body {background-color:black;}
     h4 {color: red;} 
     span {color:white ;} div {height: 300px;}
     .music{position: relative; left: 300px;}
     img{position: relative; left: 300px;}